In [4]:
import numpy as np
import pandas as pd

In [6]:
file=pd.read_csv("credit_risk_dataset.csv")
file['person_emp_length']=file['person_emp_length'].fillna(file['person_emp_length'].mean())
file['loan_int_rate']=file['loan_int_rate'].fillna(file['loan_int_rate'].mean())
file['loan_percent_income']=file['loan_percent_income']*100

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label_encoder={}
for col in ["person_home_ownership","loan_intent","loan_grade"]:
    le=LabelEncoder()
    file[col]=le.fit_transform(file[col])
    label_encoder[col]=le

In [10]:
file=pd.get_dummies(file,columns=['cb_person_default_on_file'])

In [13]:
X=file.drop(['loan_amnt','cb_person_cred_hist_length',],axis=1)
Y=file['loan_amnt']

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=24)

In [20]:
from sklearn.ensemble import GradientBoostingRegressor

In [22]:
model=GradientBoostingRegressor(n_estimators=500,learning_rate=0.05,random_state=24)

In [24]:
model.fit(X_train,Y_train)
loan_amount=model.predict(X_test)

In [25]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [26]:
print(f'Mean Absolute Error: {mean_absolute_error(Y_test, loan_amount)}')
print(f'Mean Squared Error: {mean_squared_error(Y_test, loan_amount)}')
print(f'R2 Score: {r2_score(Y_test, loan_amount)}')

Mean Absolute Error: 280.9551751063359
Mean Squared Error: 203029.72053641814
R2 Score: 0.9948800953683323

In [27]:
import joblib

In [28]:
joblib.dump(model,'Credit_Check.joblib')
joblib.dump(label_encoder,'label_encoder.joblib')

['label_encoder.joblib']

In [29]:
file

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,cb_person_default_on_file_N,cb_person_default_on_file_Y
0,22,59000,3,123.0,4,3,35000,16.02,1,59.0,3,False,True
1,21,9600,2,5.0,1,1,1000,11.14,0,10.0,2,True,False
2,25,9600,0,1.0,3,2,5500,12.87,1,57.0,3,True,False
3,23,65500,3,4.0,3,2,35000,15.23,1,53.0,2,True,False
4,24,54400,3,8.0,3,2,35000,14.27,1,55.0,4,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,0,1.0,4,2,5800,13.16,0,11.0,30,True,False
32577,54,120000,0,4.0,4,0,17625,7.49,0,15.0,19,True,False
32578,65,76000,3,3.0,2,1,35000,10.99,1,46.0,28,True,False
32579,56,150000,0,5.0,4,1,15000,11.48,0,10.0,26,True,False
32580,66,42000,3,2.0,3,1,6475,9.99,0,15.0,30,True,False